# kubectl apply  -f 09-sidecar-02.yaml -n default
# kubectl delete -f 09-sidecar-02.yaml -n default
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: ksidecar
webhooks:
  - name: ksidecar.suisrc.com
    clientConfig:
      service:
        name: ksidecar
        namespace: default
        path: "/mutate"
      caBundle: >- # curl 'http://ksidecar.default.svc/api/ssl/v1/ca/b64?key=ksidecar' (内部域名和命令行抽取)
          LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURXakNDQWtL...
    failurePolicy: Fail
    sideEffects: None
    admissionReviewVersions:
      - v1
    rules:
      - apiGroups:
          - ""
        resources:
          - pods
        apiVersions:
          - "*"
        operations:
          - CREATE
        scope: Namespaced
    namespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: NotIn
          values:
            - kube-system
            - kube-public
            - default
        - key: ksidecar/inject
          operator: In
          values:
            - "enable"
            - "true"
    objectSelector:
      matchExpressions:
        - key: ksidecar/inject
          operator: In
          values:
            - "enable"
            - "true"

